/* this is content css */
.content-bg {
    border-radius: 0rem 2rem 2rem 0rem;
    background-color: #D4ECDD;
    width: 100%;
    color: black;
    opacity: 0.9;
    box-shadow: #000 0px 3px 9px;
    text-align: left;
}

.container {
    margin: 3rem;
}

.content-box {
    margin: 1.5rem;
    background-color: #152D35;
    border-radius: 1.5rem;
    color: #D4ECDD;
    display: block;
    padding: 2rem;
    text-align: left;
}

.left-side {
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.right-side {
    width: 70%;
}

.typing {
    font-size: 30px;
}

p {
    margin-left: 1rem;
    margin-top: 1rem;
}

.home-resume {
    font-size: 16px;
    text-align: center;
}

.icons {
    font-size: 35px;

}
