body, html {
  background-image: url(../src/img/bg-light.jpg);
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: repeat;
  background-size: cover;
  background-size: 100%;
}

code {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Prompt', sans-serif;
}
