.nav-bg {
    background-color: #152D35;
    color: aliceblue;
    border-radius: 2rem 0rem 0rem 2rem;
    box-shadow: #000 1px 3px 9px;
    position: relative;
}

/* ////////////////// this is nav profile css /////////////////*/
.nav-profile img {
    border-radius: 50%;
    width: 200px;
    align-items: center;
    margin: 4rem 4rem 1rem 4rem;
}
/* ///////////////////////////////////////////////////////////*/
/* ////////////////// this is nav menu css /////////////////*/
.nav-menu {
    font-size: 1.2rem;
    margin: 2rem;
}

.nav-bg ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-bg li {
    margin: 2rem 1rem;
    text-align: left;
    transition: 0.3s;
}

.nav-bg li:hover {
    background-color: #345B63;
    border-radius: 1rem;
    transition: 0.3s;
    transform: scale(1.1);
}

.nav-bg li.active {
    background-color: #D4ECDD;
    border-radius: 1rem;
    transform: scale(1.1);
}

.nav-bg li.active a {
    color: black;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: aliceblue;
}

nav span {
    font-size: 16px;
    margin-left: 2rem;
}

.nav .nav-responsive {
    display: none;
}
/* //////////////////////////////////////////////////////// */
/* ////////////////// this is nav footer css /////////////////*/

.nav-footer {
    margin: 1rem 1rem;
    bottom: 1%;
    position: absolute;
}

.nav-icons {
    margin: 0.5rem;
    transition: 0.3s;
}

.nav-icons:hover {
    transform: scale(1.5);
    transition: 0.3s;
}



.text {
    font-size: 12px;
}
/* ////////////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {
    .nav-bg {
        margin: 0;
        border-radius: 0;
    }

    .nav-menu {
        display: none;
    }

    .nav-profile {
        margin: 0;
        padding: 0;
    }

    .nav-footer {
        position: inherit;
        align-items: center;
    }
}